body{
	-webkit-user-select: none;
	margin: 0;
	padding:0;
}

.table_style{
	/*margin: 0 auto;*/
}

.table_col_style{
	width: 50px;
	height: 50px;
	border: 1px solid #666666;
	margin: 0;
	padding:0;
}
